* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #635757;
}

nav .menu {
  transition: opacity 0.6s ease;
}

nav .especial {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav .especial .logo-ifro {
  display: none;
  font-weight: bolder;
  font-size: 25px;
  background-color: inherit;
  color: #523f16;
}

nav .search {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .search .caixa-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: fit-content;
  height: 30px;
  border-radius: 15px;
}

nav .search .caixa-search img {
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 0;
  filter: invert(0);
}

nav .search .caixa-search img:hover {
  border: none;
  background-color: rgb(223, 213, 213);
}

nav .search .caixa-search input[type='search'] {
  width: 250px;
  height: 30px;
  outline: none;
  margin-left: 25px;
  border: none;
}

nav div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(38, 38, 46);
  width: max-content;
}

nav > div img {
  filter: invert();
  height: 35px;
  padding: 10px;
  margin: 5px;
}

nav > div img:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 1px solid black;
  padding: 9px;
}

nav > div ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 38, 46);
  gap: 8px;
  width: fit-content;
  padding: 5px;
  padding-bottom: 15px;
  padding-right: 15px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

nav div ul.hide {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  padding: 0;
}

nav div ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

main {
  padding-left: 15px;
}

main .seccoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main .seccoes > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/* --------- Ajuste responsivo nos blocos do MAIN ----------- */
main .seccoes div div:nth-child(n + 2) {
  width: 90%;
  max-width: 600px;
  padding: 10px;
  height: auto;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}

main .seccoes div div:nth-child(2) { background-color: #222222; }
main .seccoes div div:nth-child(3) { background-color: #2d2d2d; }
main .seccoes div div:nth-child(4) { background-color: #383838; }
main .seccoes div div:nth-child(5) { background-color: #444444; }
main .seccoes div div:nth-child(6) { background-color: #4f4f4f; }
main .seccoes div div:nth-child(7) { background-color: #5a5a5a; }
main .seccoes div div:nth-child(8) { background-color: #606060; }
main .seccoes div div:nth-child(9) { background-color: #666666; }
main .seccoes div div:nth-child(10) { background-color: #707070; }
main .seccoes div div:nth-child(11) { background-color: #7a7a7a; }

main .seccoes div div:nth-child(2):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(3):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(4):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(5):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(6):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(7):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(8):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(9):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(10):hover{box-shadow: 5px 5px 10px black;}
main .seccoes div div:nth-child(11):hover{box-shadow: 5px 5px 10px black;}

main .seccoes > div {
  width: 90%;
  max-width: 600px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: #292929;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 500px;
}

footer div h1 {
  font-size: 18px;
  color: white;
}

footer div .redes-socias {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer div .redes-socias .social {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
footer div .redes-socias {
  padding-top: 20px;
}

footer div .redes-socias .social > * {
  height: 20px;
  filter: invert();
}



footer div .info .itens div h2 {
  display: flex;
  font-size: 18px;
  align-items: center;
  color: white;
  gap: 8px;
  border-radius: 20px;
  /* background: linear-gradient(to left, #282828, #404040, #7f7f7f, #404040, #282828); */
}

footer div .info .itens div h2 img {
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  filter: invert();
}

footer div .info .itens div h2 img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer div .info .itens div:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

footer div .info .itens a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  width: fit-content;
}

footer div .info .itens a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

footer div .info .itens a:hover::after {
  transform: scaleX(1);
}

footer div .logos {
  width: 100%;
  display: flex;
  align-items: center;
}

footer div .logos div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

footer div .logos div img {
  max-width: 100%;
  height: auto;
}

footer .logos img:nth-child(1){
  filter: invert();
}

/* Corrige largura dos blocos Cursos, Seleções e Unidades */

/* ---------- MEDIA QUERY > 768px ---------- */
@media (min-width: 768px) {
  nav .menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  nav > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  nav > div:nth-child(1) ul,
  nav > div:nth-child(1) ul.hide {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    gap: 30px;
    max-width: none;
    max-height: none;
    min-width: inherit;
    padding: 20px;
    opacity: 1;
    overflow: hidden;
  }

  nav .especial .logo-ifro {
    display: flex;
    margin-top: 20px;
  }

  nav .search:nth-child(2) {
    margin: 0;
    height: 100px;
  }
  /* .logo-ifro{
    display: flex;
  } */
  main {
    display: flex;
    flex-direction: column;
  }

  main .seccoes {
    flex-direction: row;
    align-items: flex-start;
  }

  main .seccoes > * {
    flex: 1;
  }

  footer div {
    max-width: 600px;
  }
  footer .info {
    flex-direction: row;
  }
  footer .info img {
    display: none ;
  }
  footer .info .itens div:nth-child(2), footer .info .itens.ativo div:nth-child(2)  {
    /* background-color: red; */
    display: flex;
  }
}
